<a href="https://colab.research.google.com/github/Mansha125/Internpy/blob/Beginning/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks= []
num=int (input("Enter number of values"))
numbers=int(input("Enter a number"))
sum=numbers
for n in range(num):
  numbers=int(input("Enter a number"))
  sum=numbers+sum
print(sum)

Enter number of values3
Enter a number45
Enter a number48
Enter a number50
Enter a number7
150

In [ ]:
marks= []
num=int (input("Number of values"))
numbers=int(input("Enter a number"))
max=numbers
for n in range(0,num):
  numbers=int(input("Enter a number"))
  if numbers>max:
    max=numbers
  marks.append(numbers)
print(max)

Number of values3
Enter a number45
Enter a number56
Enter a number48
Enter a number59
59

In [11]:
values = ["aman", "ana", "sana", "sahas", "anana", "mum", "maham", "amara"]
new_values = []
for val in values:
  length=len(val)
  if length>2:
   if val[0]==val[length-1]:
    new_values.append(val)
print(new_values)

['ana', 'sahas', 'anana', 'mum', 'maham', 'amara']