<a href="https://colab.research.google.com/github/Mansha125/Internpy/blob/Beginning/mysql2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
!apt-get -y install mysql-server
!sudo service mysql start
!sudo service status mysql
!pip install mysql-connector-python

import mysql.connector


conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')

cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")


cursor.execute("USE library")


cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')

cursor.execute('''
insert into books (id , title , author, year_published) values
  (1,'C++','Balagurusamy',2001),
  (2, 'English', 'R.D Shaah',2001),
  (3,'Maths','CV Raman ',2001),
  (4,'PHP','A',2001),
  (5,'C','B',2001),
  (6,'DS','V',2001),
  (7,'Python','C',2001),
  (8,'JAVA','F',2001),
  (9,'SQL','G',2001),
  (10,'HTML','J',2001)
''')
cursor. execute('''
select * from books
''')


cursor.close()
conn.close()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
 * Starting MySQL database server mysqld
   ...done.
status: unrecognized service
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

InternalError: Unread result found

In [29]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

ProgrammingError: 1698 (28000): Access denied for user 'root'@'localhost'