<a href="https://colab.research.google.com/github/Mansha125/Internpy/blob/Beginning/mysql3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd
dict={
    'Name':["Mansvi","Disha","Rhea","Aina"],
    'Sir_Name':["Sharma","Kumari","Bhardwaj","Bano"]
}
x=pd.DataFrame(dict)
print(x)

     Name  Sir_Name
0  Mansvi    Sharma
1   Disha    Kumari
2    Rhea  Bhardwaj
3    Aina      Bano

In [ ]:
from tabulate import tabulate
import pandas as pd

data={
        'Name':["Mansvi","Disha","Rhea","Aina"],
    'Sir_Name':["Sharma","Kumari","Bhardwaj","Bano"]
      }
x = pd.DataFrame(data)

print(tabulate(x, headers = 'keys', tablefmt = 'psql'))

+----+--------+------------+
|    | Name   | Sir_Name   |
|----+--------+------------|
|  0 | Mansvi | Sharma     |
|  1 | Disha  | Kumari     |
|  2 | Rhea   | Bhardwaj   |
|  3 | Aina   | Bano       |
+----+--------+------------+

In [ ]:
!apt-get -y install mysql-server
!sudo service mysql start
!sudo service status mysql
!pip install mysql-connector-python

import mysql.connector


conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')

cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS library")


cursor.execute("USE library")

cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')


books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)



# Commit the changes
conn.commit()


# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)


cursor.close()
conn.close()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
 * Starting MySQL database server mysqld
   ...done.
status: unrecognized service
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
(1, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(4, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(5, '1984', 'George Orwell', 1949)
(6, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(7, 'To Kill a Mockingbird', 'Null', 1960)
(8, '1984', 'George Orwell', 1949)
(9, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(10, 'To Kill a Mockingbird', 'Null', 1960)
(11, '1984', 'George Orwell', 1949)
(12, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(13, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(14, '1984', 'George Orwell', 1949)
(15, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(31, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(32, '1984', 'George Orwell', 1949)
(33, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(34, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(35, '1984', 'George Orwell', 1949)
(36, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(37, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(38, '1984', 'George Orwell', 1949)
(39, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [ ]:

!mysql  -u root -p -e "update library.books set year_published=NULL where  title='1984'"
!mysql  -u root -p -e "select * from library.books"

Enter password:
Enter password:
+----+------------------+---------------------+----------------+
| id | title            | author              | year_published |
+----+------------------+---------------------+----------------+
|  1 |                  | Harper Lee          |           1960 |
|  2 | 1984             | George Orwell       |           NULL |
|  3 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
|  4 |                  | Harper Lee          |           1960 |
|  5 | 1984             | George Orwell       |           NULL |
|  6 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
|  7 |                  | Null                |           1960 |
|  8 | 1984             | George Orwell       |           NULL |
|  9 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
| 10 |                  | Null                |           1960 |
| 11 | 1984             | George Orwell       |           NULL |
| 12 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
| 13 |                  | Harper Lee          |           1960 |
| 14 | 1984             | George Orwell       |           NULL |
| 15 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
| 31 |                  | Harper Lee          |           1960 |
| 32 | 1984             | George Orwell       |           NULL |
| 33 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
| 34 |                  | Harper Lee          |           1960 |
| 35 | 1984             | George Orwell       |           NULL |
| 36 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
| 37 |                  | Harper Lee          |           1960 |
| 38 | 1984             | George Orwell       |           NULL |
| 39 | The Great Gatsby | F. Scott Fitzgerald |           1925 |
+----+------------------+---------------------+----------------+

In [ ]:
!mysql  -u root -p -e "update library.books set year_published=NULL where  title='1984'"
!mysql  -u root -p -e "select * from library.books"

In [ ]:
from tabulate import tabulate
import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')

# Fetch data into a pandas DataFrame
query = "SELECT * FROM books"
df = pd.read_sql(query, conn)

x = pd.DataFrame(df)
print(tabulate(x, headers = 'keys', tablefmt = 'psql'))

+----+------+------------------+---------------------+------------------+
|    |   id | title            | author              |   year_published |
|----+------+------------------+---------------------+------------------|
|  0 |    1 |                  | Harper Lee          |             1960 |
|  1 |    2 | 1984             | George Orwell       |              nan |
|  2 |    3 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
|  3 |    4 |                  | Harper Lee          |             1960 |
|  4 |    5 | 1984             | George Orwell       |              nan |
|  5 |    6 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
|  6 |    7 |                  | Null                |             1960 |
|  7 |    8 | 1984             | George Orwell       |              nan |
|  8 |    9 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
|  9 |   10 |                  | Null                |             1960 |
| 10 |   11 | 1984             | George Orwell       |              nan |
| 11 |   12 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
| 12 |   13 |                  | Harper Lee          |             1960 |
| 13 |   14 | 1984             | George Orwell       |              nan |
| 14 |   15 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
| 15 |   31 |                  | Harper Lee          |             1960 |
| 16 |   32 | 1984             | George Orwell       |              nan |
| 17 |   33 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
| 18 |   34 |                  | Harper Lee          |             1960 |
| 19 |   35 | 1984             | George Orwell       |              nan |
| 20 |   36 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
| 21 |   37 |                  | Harper Lee          |             1960 |
| 22 |   38 | 1984             | George Orwell       |              nan |
| 23 |   39 | The Great Gatsby | F. Scott Fitzgerald |             1925 |
+----+------+------------------+---------------------+------------------+

<ipython-input-10-483b715252ac>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [5]:
!pip install urllib3

Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (2.0.7)

In [18]:
import urllib3
import urllib.request

In [19]:
dir(urllib)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'error',
 'parse',
 'request',
 'response']

In [20]:
dir(urllib.request)

['AbstractBasicAuthHandler',
 'AbstractDigestAuthHandler',
 'AbstractHTTPHandler',
 'BaseHandler',
 'CacheFTPHandler',
 'ContentTooShortError',
 'DataHandler',
 'FTPHandler',
 'FancyURLopener',
 'FileHandler',
 'HTTPBasicAuthHandler',
 'HTTPCookieProcessor',
 'HTTPDefaultErrorHandler',
 'HTTPDigestAuthHandler',
 'HTTPError',
 'HTTPErrorProcessor',
 'HTTPHandler',
 'HTTPPasswordMgr',
 'HTTPPasswordMgrWithDefaultRealm',
 'HTTPPasswordMgrWithPriorAuth',
 'HTTPRedirectHandler',
 'HTTPSHandler',
 'MAXFTPCACHE',
 'OpenerDirector',
 'ProxyBasicAuthHandler',
 'ProxyDigestAuthHandler',
 'ProxyHandler',
 'Request',
 'URLError',
 'URLopener',
 'UnknownHandler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cut_port_re',
 '_ftperrors',
 '_have_ssl',
 '_localhost',
 '_noheaders',
 '_opener',
 '_parse_proxy',
 '_proxy_bypass_macosx_sysconf',
 '_randombytes',
 '_safe_gethostbyname',
 '_splitattr',
 '_splithost',
 '_splitpasswd',
 '_splitport',
 '_splitquery',
 '_splittag',
 '_splittype',
 '_splituser',
 '_splitvalue',
 '_thishost',
 '_to_bytes',
 '_url_tempfiles',
 'addclosehook',
 'addinfourl',
 'base64',
 'bisect',
 'build_opener',
 'contextlib',
 'email',
 'ftpcache',
 'ftperrors',
 'ftpwrapper',
 'getproxies',
 'getproxies_environment',
 'hashlib',
 'http',
 'install_opener',
 'io',
 'localhost',
 'noheaders',
 'os',
 'parse_http_list',
 'parse_keqv_list',
 'pathname2url',
 'posixpath',
 'proxy_bypass',
 'proxy_bypass_environment',
 'quote',
 're',
 'request_host',
 'socket',
 'ssl',
 'string',
 'sys',
 'tempfile',
 'thishost',
 'time',
 'unquote',
 'unquote_to_bytes',
 'unwrap',
 'url2pathname',
 'urlcleanup',
 'urljoin',
 'urlopen',
 'urlparse',
 'urlretrieve',
 'urlsplit',
 'urlunparse',
 'warnings']

In [22]:
from urllib.request import urlopen
#header> request> path> query

In [23]:
web='https://www.geeksforgeeks.org/python-urllib-module/'
print( web + '-' + web)
web=urlopen('https://www.geeksforgeeks.org/python-urllib-module/')

https://www.geeksforgeeks.org/python-urllib-module/-https://www.geeksforgeeks.org/python-urllib-module/

In [24]:
print(type(web))

<class 'http.client.HTTPResponse'>

In [33]:
import  requests
response = requests.get('https://reqres.in/api/users?page=2')
print(response.text)

{"page":2,"per_page":6,"total":12,"total_pages":2,"data":[{"id":7,"email":"michael.lawson@reqres.in","first_name":"Michael","last_name":"Lawson","avatar":"https://reqres.in/img/faces/7-image.jpg"},{"id":8,"email":"lindsay.ferguson@reqres.in","first_name":"Lindsay","last_name":"Ferguson","avatar":"https://reqres.in/img/faces/8-image.jpg"},{"id":9,"email":"tobias.funke@reqres.in","first_name":"Tobias","last_name":"Funke","avatar":"https://reqres.in/img/faces/9-image.jpg"},{"id":10,"email":"byron.fields@reqres.in","first_name":"Byron","last_name":"Fields","avatar":"https://reqres.in/img/faces/10-image.jpg"},{"id":11,"email":"george.edwards@reqres.in","first_name":"George","last_name":"Edwards","avatar":"https://reqres.in/img/faces/11-image.jpg"},{"id":12,"email":"rachel.howell@reqres.in","first_name":"Rachel","last_name":"Howell","avatar":"https://reqres.in/img/faces/12-image.jpg"}],"support":{"url":"https://reqres.in/#support-heading","text":"To keep ReqRes free, contributions towards server costs are appreciated!"}}

In [62]:
import  requests

res='https://colab.research.google.com/github/Mansha125/Internpy/blob/main/mysql3.ipynb#scrollTo=6LsF3Y4d1_hb'

print(res)


res= urlopen('https://colab.research.google.com/github/Mansha125/Internpy/blob/main/mysql3.ipynb#scrollTo=6LsF3Y4d1_hb')

print(res.status)

https://colab.research.google.com/github/Mansha125/Internpy/blob/main/mysql3.ipynb#scrollTo=6LsF3Y4d1_hb
200

In [61]:
from urllib.request import Request, urlopen

url = 'https://reqres.in/api/users?page=2'
headers = {'User-Agent': 'Mozilla/5.0'}
req = Request(url, headers=headers)
webpage = urlopen(req).read()
print(webpage)

b'{"page":2,"per_page":6,"total":12,"total_pages":2,"data":[{"id":7,"email":"michael.lawson@reqres.in","first_name":"Michael","last_name":"Lawson","avatar":"https://reqres.in/img/faces/7-image.jpg"},{"id":8,"email":"lindsay.ferguson@reqres.in","first_name":"Lindsay","last_name":"Ferguson","avatar":"https://reqres.in/img/faces/8-image.jpg"},{"id":9,"email":"tobias.funke@reqres.in","first_name":"Tobias","last_name":"Funke","avatar":"https://reqres.in/img/faces/9-image.jpg"},{"id":10,"email":"byron.fields@reqres.in","first_name":"Byron","last_name":"Fields","avatar":"https://reqres.in/img/faces/10-image.jpg"},{"id":11,"email":"george.edwards@reqres.in","first_name":"George","last_name":"Edwards","avatar":"https://reqres.in/img/faces/11-image.jpg"},{"id":12,"email":"rachel.howell@reqres.in","first_name":"Rachel","last_name":"Howell","avatar":"https://reqres.in/img/faces/12-image.jpg"}],"support":{"url":"https://reqres.in/#support-heading","text":"To keep ReqRes free, contributions towards server costs are appreciated!"}}'