<a href="https://colab.research.google.com/github/Mansha125/Internpy/blob/Beginning/reverse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
x=int(input())
for i in range(x,-11,-1) :
  print(i)

5
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [16]:
x=input()
for i in x:
  print(i)

mansha
m
a
n
s
h
a

In [21]:

for i in range(1,11):

  print(17*i)

17
34
51
68
85
102
119
136
153
170

In [27]:
for i in range(1,11) :

  if i==5 or i==6 :
      continue
  print(i)

1
2
3
4
7
8
9
10

In [28]:
for i in range(1,11) :

  if i==5 or i==6 :
      break
  print(i)

1
2
3
4

In [32]:
x=int(input())
if x<10:
  print("Less than 10")
else:
  print("Greater than 10")

4
Less than 10

In [45]:
x=int(input())
a=0
sum=int(a)
for i in range(x,0,-1):
    sum= sum+i
print(sum)

5
15

In [64]:
x=345
rev=0
num=int(x)

while num>0:
  a=int(num%10)
  rev= rev*10+a
  num=int(num/10)


print(rev)

543